allow keystore firmware_file:dir search;
allow keystore firmware_file:file r_file_perms;
allow keystore zygote:dir search;
allow keystore zygote:file { read open };
allow keystore zygote:process getattr;
allow keystore zygote:binder transfer;

