allow qti_init_shell btnvtool_exec:file rx_file_perms;
set_prop(qti_init_shell, mmi_prop)
allow qti_init_shell cgroup:dir create;
allow qti_init_shell persist_drm_file:dir search;
allow qti_init_shell persist_drm_file:file { read getattr open };
allow qti_init_shell su_exec:file { read getattr open execute execute_no_trans };
allow qti_init_shell sudaemon:unix_stream_socket connectto;
allow qti_init_shell superuser_device:sock_file write;

