allow qti_init_shell btnvtool_exec:file rx_file_perms;
set_prop(qti_init_shell, mmi_prop)
allow qti_init_shell cgroup:dir create;
allow qti_init_shell persist_drm_file:dir search;
allow qti_init_shell persist_drm_file:file { read getattr open };
allow qti_init_shell sudaemon:unix_stream_socket connectto;
allow qti_init_shell superuser_device:sock_file write;
allow qti_init_shell sysfs_hsic:dir search;
allow qti_init_shell sysfs_hsic:file { write open };
allow qti_init_shell default_prop:property_service set;


