allow untrusted_app self:udp_socket ioctl;
allow untrusted_app kernel:system module_request;
allow untrusted_app debugfs_tracing:dir search;
allow untrusted_app debugfs_trace_marker:file { open write };
allow untrusted_app zygote:binder call;
