allow zygote node:tcp_socket node_bind;
allow zygote proc:file write;
allow zygote self:tcp_socket { getattr setopt bind create accept listen };
allow zygote servicemanager:binder call;
allow zygote shell_exec:file { read execute open execute_no_trans };
allow zygote system_server:binder { transfer call };
allow zygote time_daemon:unix_stream_socket connectto;
allow zygote bluetooth:binder call;
allow zygote bluetooth:fd use;
allow zygote bluetooth:unix_stream_socket { read write };
allow zygote keystore:binder call;
allow zygote port:tcp_socket name_bind;
allow zygote untrusted_app:binder { transfer call };
allow zygote untrusted_app:fd use;
allow zygote cnd:unix_stream_socket connectto;
allow zygote cnd_socket:sock_file write;
allow zygote dnsproxyd_socket:sock_file write;
allow zygote dpmd:unix_stream_socket connectto;
allow zygote dpmwrapper_socket:sock_file write;
allow zygote fwmarkd_socket:sock_file write;
allow zygote gpu_device:chr_file { read write ioctl open };
allow zygote keystore:binder { transfer call };
allow zygote mediaserver:binder { transfer call };
allow zygote netd:unix_stream_socket connectto;;
allow zygote surfaceflinger:binder { transfer call };
allow zygote surfaceflinger:fd use;
allow zygote surfaceflinger:unix_stream_socket { read write };
allow zygote system_server:unix_stream_socket { read write getopt };
allow zygote uhid_device:chr_file { write ioctl open };
allow zygote self:tcp_socket { read getopt write };
allow zygote self:udp_socket { getopt create ioctl };
allow zygote system_data_file:dir { write create add_name setattr };
allow zygote system_app:binder call;
allow zygote system_data_file:dir remove_name;
allow zygote device:file open;
allow zygote init:unix_stream_socket { getattr listen };
